<div data-id="dash-banner" class="dash-banner">
    <div class="row">
        <i data-id="banner-icon" class="dashing-icon dashing-icon--white dash-banner--icon"></i>
        <h3 class="dash-banner--title" data-id="banner-message"></h3>
    </div>
</div>
