<div data-id="dash-banner" class="dash-banner">
  <div class="row">
    <i class="dashing-icon dashing-icon--alert-filled dashing-icon--white banner-icon"></i>
    <h3 class="dash-banner--title" data-id="banner-message"></h3>
  </div>
</div>
