<div data-id="dash-banner" class="flash">
  <div class="row">
    <span class="flash-icon"></span><h3 data-id="banner-message"></h3>
    <span class="flash-close" data-id="banner-close"></span>
  </div>
</div>
