<div data-id="dash-banner" class="flash">
  <div class="row">
    <i class="dashing-icon dashing-icon--alert-filled dashing-icon--white banner-icon"></i>
    <h3 class="dash-banner--title" data-id="banner-message"></h3>
    <span class="flash-close" data-id="banner-close"></span>
  </div>
</div>
