.banner, .dash-banner {
  padding: 1.5rem;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 9999;

  .banner-icon, &.dash-banner--icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;

    &::before {
      font-size: 1.5rem;
    }
  }
//flip these out in html to new ones
  &.banner-error, &.dash-banner--error {
    background: $red;
  }

  &.banner-success, &.dash-banner--success {
    background: $green;
  }

  &.banner-undefined, &.dash-banner--custom {
    background: $gray-500c;
  }

  .banner-title, .dash-banner--title {
    color: $white;
    display: inline-block;
    font-size: $font-size-medium;
    margin: 0;
    vertical-align: middle;
  }
}
