//keyframe animation for banner fade-in
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

$dash-banner--icon-size: 1.5rem !default;
$dash-banner--text-color: $white !default;

.dash-banner { //placement
  padding: 1.5rem;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 9999;
  background: $gray-500;
  animation: fadein 0.5s;

  .dash-banner--close { //This displays the close icon on a banner, currently this functionality is not enabled by any banner
    position: absolute;
    right: 1rem;
    bottom: 1.25rem;
  }

  .dash-banner--icon { //alignment for icon
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;

    &::before {
      font-size: $dash-banner--icon-size;
    }
  }

  &.dash-banner--error, &.dash-banner--red {
    background: $red;
  }

  &.dash-banner--success, &.dash-banner--green {
    background: $green;
  }

  &.dash-banner--undefined { //For custom banners
    background: $gray-500;
  }

  &.dash-banner--blue {
    background: $blue;
  }

  &.dash-banner--gray, &.dash-banner--grey {
    background: $gray;
  }

  &.dash-banner--orange {
    background: $orange;
  }

  &.dash-banner--purple {
    background: $purple;
  }

  &.dash-banner--red {
    background: $red;
  }

  .dash-banner--title {
    color: $dash-banner--text-color;
    display: inline-block;
    font-size: $font-size-medium;
    margin: 0;
    vertical-align: middle;
  }
}

.dashing-icon--undefined {
  @extend .dashing-icon--alert-filled;
}

.dash-banner--row {//prevent overflow bars
  overflow: hidden;
}